.DS_Store

# auto-complete
ac-comphist.dat

# backups
backups/
*~

# eshell
eshell/history
eshell/lastdir

# ido
ido.last

# packages
elpa/

# places
places

# projectile
projectile-bookmarks.eld

# recentf
recentf