.DS_Store

# auto-complete
ac-comphist.dat

# backups
backups/
*~

# eshell
eshell/history
eshell/lastdir

# ido
ido.last

# network
network-security.data

# packages
elpa/

# places
places

# projectile
projectile.cache
projectile-bookmarks.eld

# recentf
.recentf
recentf

# smex
.smex-items
